In [5]:
!pip install kagglehub

Requirement already satisfied: kagglehub in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.3.12)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from kagglehub) (24.2)
Requirement already satisfied: pyyaml in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests->kagglehub) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests->kagglehub) (2024.12.14)

In [6]:
import pandas as pd
import numpy as np

In [9]:
df=pd.read_csv('/Users/vishnupanicker/Elevate Labs/netflix_titles.csv')

In [11]:
df.index=df.index+1
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
2,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
3,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
4,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
5,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [13]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [14]:
df.isnull().sum().sum()

np.int64(4307)

In [16]:
df_cleaned = df.copy()

In [17]:
# Renaming columns (lowercase, no spaces)
df_cleaned.columns = df_cleaned.columns.str.strip().str.lower().str.replace(" ", "_")

In [18]:
# Droping duplicate rows
df_cleaned.drop_duplicates(inplace=True)

In [19]:
# 3. Handle missing values
df_cleaned['director'].fillna('Unknown', inplace=True)
df_cleaned['cast'].fillna('Not Available', inplace=True)
df_cleaned['country'].fillna('Unknown', inplace=True)

/var/folders/yq/wp_dphf9569398vr9m06jslh0000gn/T/ipykernel_51419/3296812440.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['director'].fillna('Unknown', inplace=True)
/var/folders/yq/wp_dphf9569398vr9m06jslh0000gn/T/ipykernel_51419/3296812440.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['cast'].fillna('Not Available', inplace=True)
/var/folders/yq/wp_dphf9569398vr9m06jslh0000gn/T/ipykernel_51419/3296812440.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['country'].fillna('Unknown', inplace=True)

In [20]:
# Converting 'date_added' to datetime and handle missing
df_cleaned['date_added'] = pd.to_datetime(df_cleaned['date_added'], errors='coerce')
df_cleaned['date_added'].fillna(df_cleaned['date_added'].mode()[0], inplace=True)

/var/folders/yq/wp_dphf9569398vr9m06jslh0000gn/T/ipykernel_51419/575360799.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['date_added'].fillna(df_cleaned['date_added'].mode()[0], inplace=True)

In [21]:
# Filling 'rating' and 'duration' with most frequent value
df_cleaned['rating'].fillna(df_cleaned['rating'].mode()[0], inplace=True)
df_cleaned['duration'].fillna(df_cleaned['duration'].mode()[0], inplace=True)

/var/folders/yq/wp_dphf9569398vr9m06jslh0000gn/T/ipykernel_51419/2290856915.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['rating'].fillna(df_cleaned['rating'].mode()[0], inplace=True)
/var/folders/yq/wp_dphf9569398vr9m06jslh0000gn/T/ipykernel_51419/2290856915.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['duration'].fillna(df_cleaned['duration'].mode()[0], inplace=True)

In [22]:
# Strip whitespace from all object-type columns
string_cols = df_cleaned.select_dtypes(include='object').columns
df_cleaned[string_cols] = df_cleaned[string_cols].apply(lambda x: x.str.strip())

In [23]:
# Reset index to start from 1
df_cleaned.index = range(1, len(df_cleaned) + 1)

In [24]:
# Save cleaned dataset
df_cleaned.to_csv("netflix_titles_cleaned.csv", index=False)

In [26]:
print("Data Cleaning Complete!\n")
print(df_cleaned.info())

Data Cleaning Complete!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 1 to 8807
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8807 non-null   datetime64[ns]
 7   release_year  8807 non-null   int64
 8   rating        8807 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 825.8+ KB
None

In [27]:
df_cleaned.isnull().sum().sum()

np.int64(0)